/* imports fonts from fonts.css file*/
@import url(./fonts.css);

/*Variable CSS*/
@import url(./partials/_variable.css);

/* Global CSS*/
@import url(./partials/_global.css);

/* Start Navigations */

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--primary-color);
}

.header_area .main-menu .navbar{
    padding: 0 0 0 4rem;
}

.header_area .main-menu .collapse{
    padding: 8px 0px 4rem 18rem;
}


.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.header_area .main-menu .navbar-nav :hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
}

/* End Navigations */

/*Start  Banner Area*/

.site-main .site-banner {
    background: url(../img/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
    padding-left: 8rem;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);

}

.site-main .site-banner .site-title h1{
    font-size: 4rem;
    padding-left: 8rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    padding-left: 8rem;
}

.site-main .site-banner .banner-image>img{
    width: 90rem;
    padding-right: 5%
}

.about-area .about-image{
  position: relative;
  right: 150px;
  width: 120%;
  padding-top: 8rem;
}

.work-exp .workExp-image{
    position: relative;
    right: 200px;
    padding-top: 8rem;
    padding-left: 20%;
    width: 5%;
}

.work-exp-container{
    margin: 2rem;
}

.para {
    display: none;
}

.language-in-detail {
    display: none;
}

.education-detail {
    display: none;
}
  
.qualifications:hover + .para {
    display: inline-grid;
}

.languages:hover + .language-in-detail {
    display: block;
}
.languages:hover{
    text-decoration: underline;
}

.qualification:hover + .education-detail {
    display: block;
}

.work-experience{
    padding-top: 10%;
    padding-left: 10%;
}

.skills-title{
    padding-top: 10%;
    padding-left: 10%;
}

.education-title{
    padding-top: 10%;
    padding-left: 10%;
}

.skills-image{
    width: 80%;
    padding-top: 8rem;
    padding-left: 10%
    
}

.about-me{
    padding-top: 2rem;
    padding-left: 10%
}

.education-image{
    padding-top: 8rem;
    padding-left: 10%
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
}

.about-image{
    padding-top: 8rem;
    padding-left: 40%

}

.language-details{
    text-align-last: right;
    padding-right: 50%;
}
.checked {
  color: orange;
}
.half-alt{
    color:red
}

.footer-area{
    padding-top: 5rem;
}
    

/*End Banner Area*/